<?xml version="1.0"?>
<model>
  <name>wheeled_office_chair</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>lynx_quanta</name>
    <email>none</email>
  </author>
  <description>Lightweight dynamic wheeled office chair for Lynx M20 arm-push experiments.</description>
</model>
